Welcome to Sheffield Water Centre ,= @user.name
===============================================

You have successfully signed up to Sheffield Water Centre,

Please Wait for an approval e-mail

Thanks for joining and have a great day!
