!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Sheffield Water Centre, #{@user.name}
    %p
      You have successfully signed up to Sheffield water centre,
      %br/
    %p
      Your account will be approved within 2 working days.
    %p Thanks for joining and have a great day!
