= stylesheet_link_tag    "application", media: :all
-# Keeps the footer at the bottom of the page.
- @sticky_footer=true
- content_for :title, "Subcategories-Add"

.categoryContainer
  %h1 New subcategory
  -# Render partial form for creating new categories.
  = render 'form'

  = link_to 'Back', subcategories_path
