- content_for :title, "Invite New Users"
= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "admin", media: :all


- @disabled_nav = false
- @sticky_footer= true

%div.container.buffered-top


- @users.reverse.each do |user|
  %p= user.name
