- content_for :title, "Buried Infrastructure Performance"
= stylesheet_link_tag    "bip", media: :all
= stylesheet_link_tag    "application", media: :all

%div.container.buffered-top
  .page-header
    %h1 Sheffield Water Centre
