-  content_for :title, "Contact Us"

= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "contact", media: :all


%div.container.buffered-top

.image
  %img.water{:alt => "Water", :src => " /images/proto2.jpg"}/
  %h1
    Contact Sheffield Water Centre

  .contact

  

    %table.table-responsive
      %thead
        %tr

      %tbody
      %tr
        %td Dr. Vanessa Speight
      %tr
        %td Research Fellow In Integrated Water Systems.
      %tr
        %td 0114 222 5750
      %tr
        %td v.speight@sheffield.ac.uk
      %tr
        %td Mappin Building, Mappin Street, Sheffield S1 3JD
