-  content_for :title, "Add a new project"
= stylesheet_link_tag    "contact", media: :all
= stylesheet_link_tag    "application", media: :all


%div.container.buffered-top
  .page-header
    %h1 Sheffield Water Centre Contact Details



  .container.col-bg-8
    %table.table.table-responsive


      %tbody
      %tr
        %th Company Name
        %td Sheffield Water Centre
      %tr
        %th Telephone
        %td XXXXXXX
      %tr
        %th E-mail Address
        %td XXXXXXX
      %tr
        %th Address
        %td XXXXXXX
      %tr
        %th Web Address
        %td WWW.XXXXXX.COM
