-  content_for :title, "Add a new project"
= stylesheet_link_tag    "contact", media: :all
= stylesheet_link_tag    "application", media: :all


%div.container.buffered-top
  .page-header
    %h1 Sheffield Water Centre

  %p.lead Contact Page
