-  content_for :title, "Add a new project"
= stylesheet_link_tag    "contact", media: :all
= stylesheet_link_tag    "application", media: :all


%div.container.buffered-top
  .page-header
    %h1 Sheffield Water Centre



  .container.col-bg-8
    %table.table.table-responsive
      %thead{:style => "font-size: 2em; Aligns: center; font-weight: bold; margin: 16px 0 0px 0; color: #676767;"}
        %tr
          %th Contact Details

      %tbody
      %tr
        %th Company Name
        %td Sheffield Water Centre
      %tr
        %th Telephone
        %td XXXXXXX
      %tr
        %th E-mail Address
        %td XXXXXXX
      %tr
        %th Address
        %td XXXXXXX
      %tr
        %th Web Address
        %td WWW.XXXXXX.COM
