- content_for :title, "Log In"
= stylesheet_link_tag  "forgot_password", media: :all

%div.container.buffered-top

  .page-header
    %h1 Sheffield Water Centre

  %p.lead Reset Password

  .container#inputFields
    = simple_form_for :form_examples do |f|
      = f.input :email, as: :string

      %button#show-flash.btn.btn-default{ type: :button}
        = link_to 'Request reset', :log_in_out
