- content_for :title, "Introduction"
= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "introduction", media: :all

%div.container.buffered-top

  %h2
    Introduction
  %br
  %br
  %br



  %img.uni{:alt => "The university of sheffield", :src => "/images/tuoslogo1.jpg"}
  %br
  %p.text Sheffield water centre are an interdisciplinary water research centre at the University Of Sheffield, dedicated to continuing the University of Sheffield highly collaborative and innovative approach to solving major challenges in the water sector.
  %p.text Around the world, water resources are already under pressure. Innovative approaches are needed to manage the challenges of ageing infrastructure, climate change, increasing population and increasingly demanding customers. The water sector must also manage sustainability challenges such as rising resource costs, attracting investment and skills shortages.

  %br
