- content_for :title, "Zero Failures"
= stylesheet_link_tag    "zero_failures", media: :all
= stylesheet_link_tag    "application", media: :all

%div.container.buffered-top
  .page-header
    %h1 Sheffield Water Centre
