!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      New User Request
    %p
      #{@user.email} has just registered and is waiting to be approved.
