-  content_for :title, "Projects-Add"
= stylesheet_link_tag    "add_project", media: :all
= stylesheet_link_tag    "application", media: :all

%div.container.buffered-top
  .page-header
    %h1.top Sheffield Water Centre
  %p Please fill in the fields bellow to add a new project to the database.

.container
  -# render add new project form
  = render 'form'
