- content_for :title, "Project Title"

.page-header
  %h1 Project Title

  %table.table
    %thead
      %tr
        %th Heading
        %th Heading
    %tbody
    %tr
      %th Heading
      %td Information
    %tr
      %th Heading
      %td Information
    %tr
      %th Heading
      %td Information
