/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

.page-header h1
  text-align: center
  font-weight: bold
  font-style: italic

p.lead
  margin-top: 10%
  text-align: center

.container #inputFields
  width: 50%
  min-width: 60px
  padding-top: 0
  margin: 0 auto

#buttonInvite
  text-align: right

p.text
  text-align: justify

#image
  margin-top: 30%
  position: relative

img.uni
  top: 15%
  float: right

img.water
  margin-top: 10%
  width: 100%
  height: 200px


h2
  position: absolute
  top: 30%
  left: 43%
  color: white
  font-size: 300%
