/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice
@import "bootstrap-sprockets"
@import "bootstrap"

html
  min-height: 100%
  position: relative

.navbar
  background-color: #80bfff
  text-color: black

.navbar.navbar-brand > li > .add_new_btn

.nav.navbar-nav.navbar-right a:current
  background-color: blue

.btn.btn-primary
  width: 370px

.page-header
  margin-top: 100px

.footer
  text-align: center
  font-size: 15px
  text-decoration-color: #80bfff
  background-color: #80bfff
  position:absolute
  padding: 1em
  width: 100%
  bottom: 0
  height: 60px
  margin-top: 40px
