/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice
@import "bootstrap-sprockets"
@import "bootstrap"
.navbar
  background-color: #80bfff
  text-color: black

.container.buffered-top
  margin-top: 50px

footer
  text-align: center
  font-size: 15px
  text-decoration-color: #80bfff
  background-color: #80bfff

.navbar.navbar-brand > li > .add_new_btn

.nav.navbar-nav.navbar-right a:current
  background-color: blue
