/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

.page-header h1
  text-align: center
  font-weight: bold
  font-style: italic


#title
  text-align: center
  font-weight: bold
  font-size: 20px

#subtitle
  text-align: center
  font-style: italic

.categories_box
  position: fixed
  margin-left: 5%
  margin-top: -5%

.categories_box p, .categories_box ul.nav li
  text-align: left

.categories_box p
  background-color: #3399ff


.page-header h1
  text-align: center
  font-weight: bold
  font-style: italic

.project_box
  margin-top: 10px
  font-weight: bold


#go_back
  float: right

.project_box
  margin-top: 10px
  border: 2px solid grey
  font-weight: bold

.knowledge
  border: 2px solid grey
  background-color: #bf80ff
  height: 30px
  text-align: center
  font-weight: bold
  font-style: italic
  font-size: 20px
  color: black
  margin-bottom: 5px

.economic
  border: 2px solid grey
  background-color: #66ff66
  height: 30px
  text-align: center
  font-weight: bold
  font-style: italic
  font-size: 20px
  color: black
  margin-bottom: 5px

.technology
  border: 2px solid grey
  background-color: #ff9966
  height: 30px
  text-align: center
  font-weight: bold
  font-style: italic
  font-size: 20px
  color: black
  margin-bottom: 5px
