/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

categories_title
  float: right
  clear: right

.line
  width: 100%

buttonOption1 buttonOption2 buttonOption3
  float:right
  clear:right
  margin-bottom: 5px

.contact
  top: 100%
  width: 99%
  margin-top: 28%
  position: absolute
  height: 30%
  margin-left: 20%

#image
  position: relative

img.water
  margin-top: 3%
  width: 100%
  height: 200px

h1
  position: absolute
  top: 30%
  left: 30%
  width: 100%
  color: white
  font-size: 300%

h2
  position: absolute
  top: 35%
  left: 42%
  width: 100%
  color: white
  font-size: 300%

.table-responsive
  left: 10%
  width: 20%

tr
  margin-top: 5%
  height: 8%
  text-align: center

tr,td
  padding-left:  5%
  padding-top: 1%
  padding-bottom: 1%

iframe
  position: absolute
  top: 110%
  left: 20%
  height: 300px
  width: 800px

.form-inputs
  width: 29%
  height: 100%
  .form-group
    height: 20%
