/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

.page-header h1
  text-align: center
  font-weight: bold
  font-style: italic

categories_title
  float: right
  clear: right

.line
  width: 100%
  
buttonOption1 buttonOption2 buttonOption3
  float:right
  clear:right
  margin-bottom: 5px
