/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice
  += require custom

// Main html file
html,body
  overflow-x: hidden
  margin-top: 2%

// Form
.form
  margin-top: 4%

// User box
.user
  text-align: left
  margin: auto 15% auto 15%
  font-size: 125%

// Map frame
iframe
  margin-left: 6%
  height: 100%
  width: 95%

// Forms input fields
.form-input
  width: 100%

// H1
h1
  background: transparent url("https://images.unsplash.com/photo-1445112098124-3e76dd67983c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=f4223402153e7ad88aa3535bff46dd6c")
  padding: 5%
  color: white
  font-size: 300%
  text-align: center

// Map frame information
.info
  margin-top: 4%
  text-align: left
  height: 80%

// Submit button
.button
  margin-left: 31.5%
