/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

.page-header h1
  text-align: center
  font-weight: bold
  font-style: italic
  text-align: center
  margin-top: 2%

p.lead
  margin-top: 7%
  margin-top: 150px
  text-align: center
  font-weight: bold

.container #inputFields
  width: 50%
  min-width: 60px
  padding-top: 0
  margin: 0 auto

#buttonContainer
  text-align: right

#requestButton
  text-align: right
