/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

.categories_box
  position: fixed
  margin-left: 5%
  margin-top: -5%

.categories_box p, .categories_box ul.nav li
  text-align: left

.categories_box p
  background-color: #3399ff

.page-header h1
  text-align: center
  font-weight: bold
  font-style: italic



.project_box
  margin-top: 10px
  font-weight: bold

#searchMessage
  margin: 5% 0 0 30%
  font-weight: bold
  font-size: 20px

#searchMessageSpan
  color: red

.title
  font-weight: bold

.showButton
  float: left
  margin-left: -1%
  margin-top: 3%

.panel-heading
  font-weight: bold
td
  padding: 0.25%
  padding-left: 1.5
