/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

// Categories box
.categories_box
  position: fixed
  margin-left: 5%
  margin-top: -5%

// Categories box text
.categories_box p, .categories_box ul.nav li
  text-align: left

// Categories box text
.categories_box p
  background-color: #3399ff

// Page header
.page-header h1
  text-align: center
  font-weight: bold
  font-style: italic

// Search message
#searchMessage
  margin: 5% 0 0 30%
  font-weight: bold
  font-size: 20px

// Search message's keyword
#searchMessageSpan
  color: red

// Title
.title
  font-weight: bold

// Show project button
.showButton
  float: left
  margin-left: -1%
  margin-top: 3%

// Project's panel heading
.panel-heading
  font-weight: bold
