/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

// H1
h1
  background: transparent url("https://images.unsplash.com/photo-1445112098124-3e76dd67983c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=f4223402153e7ad88aa3535bff46dd6c")
  margin-top: -50px
  padding: 75px
  color: white
  font-size: 300%
  text-align: center

// Read more button
.button
  margin-left: 85%

// Articles
.move
  margin-left: 20%

//Article image 
.style_image
  width: 70%
  height: 20%
  margin-top: 4%
  margin-bottom: 4%

// Paragraph text
p.text
  font-size: 90%
  padding-left: 5%
  text-align: justify

// Article time
p.time
  padding-top: 2%

// Recent News container
.buffered-top
  margin-top: 10%
