/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

// Main HTML
html,body
  overflow-x: hidden
  margin-top: 2%

.style_image
  margin-left: 20%
  margin-top: 10%

// Edit user registration
.edit
  margin-left: 45%

// Categories box
.categories_box
  position: fixed
  margin-left: 5%
  margin-top: -5%

// Categories box text
.categories_box p, .categories_box ul.nav li
  text-align: left

// Categories box text
.categories_box p
  background-color: #3399ff

.project_box
  margin-top: 10px
  font-weight: bold

// Title on page
.title
  font-weight: bold

// Show project button
.showButton
  float: left
  margin-left: -1%
  margin-top: 3%

// Project panel heading
.panel-heading
  font-weight: bold

// H2
h2
  background: transparent url("https://images.unsplash.com/photo-1445112098124-3e76dd67983c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=f4223402153e7ad88aa3535bff46dd6c")
  padding: 75px
  color: white
  font-size: 300%
  text-align: center

// H3
h3
  text-align: center
  font-size: 50px
  margin-bottom: 7%
  margin-top: 3%

// User paragraph
p.user
  text-align: center
  font-size: 25px

// User info
.info
  margin-top: 10%

ul.pill
  margin-left: 3%
  margin-top: 5%
  margin-bottom: 5%

// List
li.pill
  font-size: 150%

// Table cell
td
  padding: 0.25%
  padding-left: 1.5
