@import "bootstrap-sprockets"
@import "variables"
@import "bootstrap"

.navbar
  background-color: #80bfff
  text-color: black

h1
  padding: 0px 10px 0px 10pxs

.images_table

.page-header
  margin-top: 100px

.comments_table
  margin-top: 20px
