@import "bootstrap-sprockets"
@import "variables"
@import "bootstrap"


h4 , h5
  padding: 0px 10px 0px 10px


.page-header
  margin-top: 100px

.comments_table
  margin-top: 20px
  background: #eef7fc

.button_post
  float: right

textarea
  width: 100%
