@import "bootstrap-sprockets"
@import "variables"
@import "bootstrap"

// H4, H5
h4 , h5
  padding: 0px 10px 0px 10px

// H6
h6
  text-align: right

// Buffered top container
.buffered-top
  margin-top: 50px

// Comments table
.comments_table
  margin-top: 20px
  background: #eef7fc

//Comment button
.button_post
  float: right

//Comment text area
textarea
  width: 100%

// User info
.user
  font-weight: bold

//Primary image css
.pimage
  padding-bottom: 10px

// List element
.li
  display: inline

// Empty field
.empty-field
  color: red
