@import "bootstrap-sprockets"
@import "variables"
@import "bootstrap"

#userList
  margin-top: 100px
  margin-left: 50px

.page-header h1
  text-align: center
  font-weight: bold
  font-style: italic
  text-align: center
  margin-top: 90px

p.lead
  margin-top: 7%
  margin-top: 150px
  text-align: center
  font-weight: bold

.container #inputFields
  width: 50%
  min-width: 60px
  padding-top: 0
  margin: 0 auto

#submitButton
  text-align: right

#registerButton
  text-align: right
