/*
  *= require bootstrap_setup
  *= require font-awesome
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require utilities
  *= require warning_page
  *= require custom_flash
  *= require environment_notice

//Article image
.style_image
  width: 70%
  height: 20%
  margin-top: 4%
  margin-bottom: 4%

// Paragraph text
p.text
  font-size: 110%
  text-align: justify

// Paragraph time
p.time
  padding-top: 2%
  font-size: 30%

// Buffered top (top of page)
.buffered-top
  margin-top: 3%
