= stylesheet_link_tag    "application", media: :all
- @sticky_footer = true
- content_for :title, "Categories-New"

.categoryContainer
  %h1 New category

  = render 'form'

  = link_to 'Back', categories_path
